.grid-container{

    display: grid;
    background-color: aliceblue;
    grid-template-areas: 'header header header header header header''menu main main main main aside''footer footer footer footer footer footer' ;
}
.grid-container > div{
    border: 3px solid blueviolet;
    padding: 10px;
    text-align: center;

}
.item1{
    grid-area: header;

}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: aside;
}
.item5{
    grid-area: footer;
}
